@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300);

body{
    margin: 0;
    padding: 0;
    
}
.dis {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    box-sizing: border-box;
    height: 100vh;
}
.dis__section{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 20% 70%;
    box-sizing: border-box;
    height: 100vh;
}

.dis__section--elementos{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    box-sizing: border-box;
    margin:4.28%;  
}
.dis__section--diaSemana{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
}
.mt0{
    margin-top: 0 !important;

}
.mb0{
    margin-bottom:0 !important;
}
.box{
    box-sizing: border-box;
}

.sidebar{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 0em;
    grid-row:1/6;
    /* border: 10px solid black; */
}
.sidebar__busqueda{
    
    /* border: 1px solid red; */
    height:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top:1.2em; */
    /* height:100%; */
}
.search{
    border: none;
    height: 25%;
    margin-left: .2em;
}
.inputL{
    display:flex;
    justify-content:center;
    align-items: center;
}
.search::-webkit-input-placeholder { color: black; } 

.search:focus{
    box-shadow: 10px 0 5px -2px #888 !important; 
    -webkit-box-shadow: 10px 0 5px -2px #888 !important;
    outline: none;
}
.sidebar__tiempo{
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.clima__hora{
    width: 100%;
}
.climaSB, .horaSB{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}
.horaSB{
    margin-left: 4px;
}

.section{
    background-color:#F6F6F8;
    grid-column: 2 / 6;
    grid-row-start:  1;
    grid-row-end: 6;
    /* border: 10px solid blue; */
}
#sidebar__tiempo--logo{
    overflow:hidden;
}
#sidebar__tiempo--logo:hover, #sidebar__tiempo--logo img{
    -webkit-transform:scale(1.1);transform:scale(1.1);  
    filter: saturate(450%);

}
#sidebar__tiempo--logo img{
    width: 15em;
    filter: saturate(400%);
}

.section__usuario{
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end:6;
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.8em;
    margin: .2em 3.8em;
    font-size:1.1em;
}
.section__diaSemana{
    grid-row: 2/3;
    grid-column: 1/6;
    /* border:2px solid blue; */
    margin: 0 5em;
}
.section__elementos{
    grid-row: 3/6;
    grid-column: 1/6;
    margin: 0 8%;
    margin-top:0px;
    margin-bottom:30px;

    /* border: 3px solid green; */
}
.section__usuario a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.section__usuario--pestañas{
    width:15%;
    display: flex;
    justify-content:space-between;
}
.section__usuario--user{
    display:flex;
    width:15%;
    justify-content: space-around;
}

#centigrados,  #farnhei{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:black;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
#farnhei{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:white;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
#sidebar__tiempo--hora{
    margin:0 0 0 45px;
    font-family: 'Roboto', sans-serif;
    font-size:2em;
    margin:none;
    padding:none;
}
#C{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 0.19em;
}
#sidebar__tiempo--clima{
    margin:0 0 0 45px;
    font-family: 'Roboto', sans-serif;
    font-size:4em;
    margin:none;
    padding:none;
}

#gps a{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#f6f6f8;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
#farnhei a{
    color: black;
    font-size:.5em;
    font-weight: 900;
}
#centigrados a{
    color: white;
    font-size:.5em;
    font-weight: 900;
}
#icono__user{
    font-size: x-large;
}
#km{
    font-size: 1em;
}
.elementos{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.elementosR{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap:wrap;
}
.textoTemp{
    margin-left:30px;
    font-family: 'Quicksand', sans-serif;
}
.f_negrita{
    font-weight: 900;
}
.elementos__titulo{
    margin: 0 30px;
    font-family: 'Quicksand', sans-serif;
    opacity: .7;
}
.elementos__titulo{
    width:75%;
    margin-top:15px;
}

.section__elementos--elemento{
    background-color: white;
    border-radius:10px;
    margin:10px;
}


.section__elemento--diaSemana{
    width:90%;
    height:70%;
    background-color:white;
    border-radius:6px;
    margin-left: 5px;
}
.mgb15{
    margin-bottom: 15px;
}
.wd100{
    width:100%;
    margin-left: 25%;
}
.viento__velocidad p{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    font-family:'Quicksand', sans-serif;
    font-size: calc(3em + 1vw);
}
.viento__velocidad span{
    font-family:'Quicksand', sans-serif;
    font-size: calc(.1em + 1vw);
    margin-top: 1em;
}
.logoArrow {
    display: flex;
    align-items: center;
    margin: 10px;
}
.nota{
    display:flex;
    flex-direction:column;
}
.temperaturas{
    display: flex;
    flex-direction: column;
    
}
.visibilidad{
    display: flex; 
    margin-left:30px;
    width:40%;
}
.visibilidad p{
    font-family:'Quicksand', sans-serif;
    font-size:calc(3em + 1vw);;
    margin-top:.6em;
    margin-bottom:0;
}

.diaSemana__titulo{
    display: flex;
    justify-content:center;
    margin-top: 3px;
    margin-bottom: 0;
    /* border: 1px solid black; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}
.diaSemana__elemento{
    /* border: 1px solid red; */
    margin-top:0;
    height: 70%;
    display: flex;
}

.semanaLogo{
    display: flex;
    justify-content:center;
    align-items: center;
    width:50%;
    height:100%;
    /* border: 1px solid black;    */
}
.semanaInfo{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:50%;
    height:100%;
    /* border: 1px solid black;    */
}
.semanaInfoMax, .semanaInfoMin{
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height:50%;
    /* border: 1px solid black; */
    font-size: .6em;
    font-family: 'Quicksand', sans-serif;
}

.logoArrow img{
    width:20%;
    height:20%;
    margin-left: 20px;
}
.gauge {
    width: 70%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
}

  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  .linea{
      display: flex;
      justify-content:center;
      align-items:center;
      height:5%;
      width:100%;
}
.linea div{
    width: 80%;
    border: 2px solid #f6f6f6;
}

  .sidebar__pie{
      height: 35%;
      display: flex;
      flex-direction:column;
      justify-content:space-between;
         /* border: 1px solid black; */
  }
  .sidebar__pie--info{
      display: flex;
      flex-direction: column;
      align-items:center;
      /* border:1px solid black; */
      height:50%;
  }
  .info{
      display: flex;
      align-items: center; 
      width: 80%;
      height: 50%;
      /* border: 1px solid black; */
  }
  .info img{
      width:22px;
      height: 22px;
      margin-right: 8%;
  }
  .info p{
      font-family: 'Quicksand', sans-serif;
  }
  .imagenH{
    display: flex;
    justify-content:center;
    align-items:center;
    /* border: 1px solid black; */
    width: 80%;
    height:90%;
    position: relative;
  }
  .imagenH img{
    border-radius: 20px;
    position:absolute;
  }
  .ciudad{
      position: absolute;
      font-size: 1.7em;
      color:white;
      font-family: 'Quicksand', sans-serif;
      font-weight:700;

  }

  .sidebar__pie--imagen{
    /* border:1px solid red; */
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Diseño barra */
.barra {
  font-family: 'Quicksand', sans-serif;
}

.progress-bar {
  
  top: 50%;
  height: 2px;
  background: #009578;
    
}

.done {
  top: 0;
  height: 5%;
  width: 100%;
  transition: all .33s ease;
  
}

.count {

  top: 50%;
  width: 100%;
  display: flex;
  justify-content:center;
  font-size: calc(3em + 1vw);;
  margin-top: .5em;
  font-weight: 500;
  color: black;
  margin-bottom:0;
  
}
.progress-bar2 {
  
    top: 50%;
    height: 2px;
    background: #009578;
      
  }
  
  .done2 {
    top: 0;
    height: 5%;
    width: 100%;
    transition: all .33s ease;
    
  }
  
  .count2 {
  
    top: 50%;
    width: 100%;
    display: flex;
    justify-content:center;
    font-size: calc(3em + 1vw);;
    margin-top: .5em;
    font-weight: 500;
    color: black;
    margin-bottom:0;
    
  }
  .sidebar__busqueda--responsive{
      display: none;
  }

  
  @media screen and (max-width:800px){
    .sidebar{
        display: none;
    }

    .dis{
        grid-template-columns: 0% 100%;
        grid-template-rows: 10% 10% 20% 60%;
    }
    .section{
        background-color: #F6F6F8;
        /* grid-column: 2 / 6; */
       
        /* grid-row-end: 6; */
        /* border: 10px solid blue; */
        
    }
    .dis__section{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 25% 50%;
}
    
    .section__diaSemana {
        /* grid-row: 2/3; */
        /* grid-column: 1/6; */
        /* border: 2px solid blue; */
        margin: 0 5em;
        grid-row: 3/4;
    }

    .dis__section--elementos {
        display: grid;
        
        overflow-x: scroll;
        grid-auto-flow: column;
        grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 100% 100% 100% 100% 100% 100%;

        /* grid-template-columns: 33.33% 33.33% 33.33%; */
        /* grid-template-rows: 50% 50%; */
        /* box-sizing: border-box; */
        /* margin: 4.28%; */
    }
    .section__elementos {
        
        grid-row: 4/4;
        grid-column:1/6;
        margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 10px;
        /* border: 3px solid green; */
    }

    .section__usuario {
    margin: 20px;

        /* grid-row-start: 1; */
        /* grid-row-end: 2; */
        grid-column: 1/1;
        /* grid-column-end: 6; */
        /* border: 3px solid green; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        font-size: 1.1em;
    }
    .section__usuario--pestañas {
        width: 31%;
        /* display: flex; */
        /* justify-content: space-between; */
    }
    .section__usuario--user {
        display: flex;
        width: 30%;
        justify-content: space-around;
    }
    .dis__section--diaSemana {
        display: grid;
        grid-template-columns: 100% 100% 100% 100% 100%;
        grid-template-rows: 100%;
        overflow-x: scroll;
        grid-auto-flow: column;
    }
    .section__elemento--diaSemana {
        width: 90%;
        height: 100%;
        background-color: white;
        border-radius: 6px;
        margin-left: 5px;
    }
    .sidebar__busqueda--responsive {
        grid-row:2/2;
        grid-column: 1/6;
        display:flex;
        width:100%;
        height: 80%;
        justify-content: center;
        align-items: center;
        
    }
    .inputL{
        display:flex;
        justify-content:center;
        align-items: center;
    }
    


    
    

    }

    





/* .section-semana{
    grid-column: 1/;
    border: 1px solid green;
} */


